{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">{{ name }}</h1>
            <div class="thumbnail">
                <a href="images/{{ image }}">
                    <img src="/images/{{ image }}" alt="...">
                </a>
                <div class="caption">
                    <h3>{{ name }}</h3>
                    <ul>
                        <li>Width: {{ width }}</li>
                        <li>Height: {{ height }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}